.grid-container {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  background-color: rgb(87, 87, 87);
  column-gap: 2px;
  row-gap: 2px;
  padding: 35px;
  height: 400px;
  width: 300px;
  border-radius: 15px;
  margin-left: 500px;
  position: absolute;
  left: 25px;
  top: 100px;
  box-sizing: border-box;
  box-shadow: 0 10px 2px rgb(66, 66, 66);
}
body {
  background-color: black;
}
.host {
  background-color: rgb(153, 192, 137);
  height: 600px;
  width: 700px;
  margin-left: 340px;
  margin-top: 30px;
}
.grid-container > div {
  background-color: rgb(236, 236, 236);
  font-size: 30px;
  text-align: center;
  width: 50px;
  height: 40px;
  border-radius: 7px;
  font-weight: bold;
  box-shadow: 0px 3px rgb(178, 178, 178);
}
input {
  flex-wrap: wrap;

  grid-column: 1 / span 4;
  width: 210px;
  height: 50px;
  margin-right: 40px;
  margin-top: 10px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(188, 209, 192);
  text-align: right;
  font-size: 30px;
  box-shadow: 2px 2px 2px 4px rgb(68, 72, 71);
}
div > .item17 {
  background-color: rgb(245, 163, 77);
  color: white;
  font-weight: bold;
}

.button:hover {
  cursor: grab;
}
